*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --grey-500: #8a8a8a;
    --grey-800: #555557;
    --white: #ffffff;
    --white-07: rgba(255, 255, 255, 0.7);
    --green: #29c16f;
    --blue: blue;
}

body {
    background-color: white;
    .wrapper-container {
        max-width: 1050px;
        margin: 0 auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 0;
        margin: 0;
    }
}
